.container {
    background: #fff
}
.ixs-footer {
    background: #ebebeb
}
.container.jobs {
    background: #f5f5f5;
}
.ixs-about {
    margin-top: 72px;
    background: url(../images/about/pic_banner.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 360px;
    position: relative;
}

.ixs-about .ixs-content > div {
    height: 100px;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    margin-top: -47px;
    margin-left: -25%;
    color: #fff;
    text-align: center
}
.ixs-about .ixs-content > div h1 {
    margin: 0px 0 30px 0;
    position: relative
}

.ixs-about .ixs-content > div h1::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -15px;
}
.ixs-about .ixs-content > div h1 + p {
    font-size: 16px;
} 

.ixs-about .ixs-navbar {
    min-height: 40px;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 9
}
.ixs-about .ixs-navbar ul {
    width: 1025px;
    margin: 0 auto;
}

.ixs-about .ixs-navbar ul li {
    float: right;
    margin-left: 40px;
}

.ixs-about .ixs-navbar ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}

.ixs-about .ixs-navbar ul li a.active {
    color: #019dfe
}

/*公司介绍*/
.ixs-join-us,
.ixs-contact .ixs-content,
.ixs-description {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.ixs-contact ul li,
.ixs-description .ixs-content ul li {
    float: left;
    width: 32.666%;
    margin-right: 1%;
}

.ixs-contact ul li.last,
.ixs-description .ixs-content ul li.last {
    margin-right: 0
}

.ixs-description a {
	position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.ixs-description a::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.ixs-description a:hover::before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.ixs-description .ixs-content p {
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #666;
}
.ixs-description .ixs-content p + ul {
    margin-top: 50px
}

/*联系我们*/
.ixs-contact {
    padding-bottom: 136px;
    background: url(../images/about/bg_us.jpg) no-repeat;
    /*background-size: 100% 100%;*/
}
.ixs-contact .ixs-header {
    padding-top: 36px;
}
.ixs-contact ul li {
    text-align: center;
    border: 1px solid #e5e5e5;
    padding: 25px;
    background: #fff;
}
.ixs-contact ul li a {
    text-decoration: none;
    text-align: center;
    color: #666;
}

.ixs-contact ul li a .ixs-font {
    font-size: 56px;
    color: #019dfe
}

.ixs-contact ul li a h3 {
    margin: 20px 0;
    position: relative;
}

.ixs-contact ul li a h3 .line {
    width: 40px;
    height: 2px;
    display: inline-block;
    background: #3993f4;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -12px;
}

.ixs-comment {
    background: url(../images/about/pic_backgroud.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 30px 0;
}
.ixs-comment .ixs-header{
    margin: 0 auto;
}
#comment-form {
  max-width: 800px;
  margin: 0 auto;
}
#comment-form .row {
    margin-bottom: 15px;
}
#comment-form label {
  position: relative;
  margin-right: 8px;
  font-size: 14px;
  display: inline-block;
  min-width: 96px;
}

#comment-form input, #comment-form textarea {
    padding: 10px 0;
    min-width: 267px;
    border-radius: 2px;
    border: 1px solid #999;
    vertical-align: top;
    background: transparent;
}

#comment-form .form-group {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

#comment-form .form-group textarea {
    width: 83%;
}

#comment-form .two-fields .form-group {
    width: 49%;
}

#comment-form .btn-group {
    text-align: center
}
#comment-form .ixs-btn {
    cursor: pointer;
    padding: 8px 69px;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 16px;
    font-family: Microsoft Yahei,Hiragino Sans GB,"微软雅黑";
}
#comment-form .ixs-btn:hover {
    color: #333;
    background: transparent
}

.text-right {
    text-align: right;
}

.ixs-join-us ul {
    padding: 20px 30px 40px 30px;
    background: #fff;
    overflow: hidden;
    margin: 55px 0 55px 0;
}
.ixs-join-us .jobs li.t-header {
     border-bottom: 1px solid #b5b5b5;
     color: #666;
}
.ixs-join-us .jobs li {
    font-size: 16px;
    overflow: hidden;
}
.ixs-join-us .jobs li > a {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    overflow: hidden;
}
.ixs-join-us .jobs li span{
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    padding: 14px 0;
}
.ixs-join-us .jobs li span.first {
    width: 25%;
    text-align: left;
    text-indent: 12px;
}
.ixs-join-us .jobs li span.last {
    width: 15%;
    color: #019dfe;
}
.ixs-join-us .jobs li.t-header span.last::after {
    content: ""
}
.ixs-join-us .jobs li span.last::after {
    content: "+"
}
.ixs-join-us .jobs li.active span.last::after {
     content: "-"
}
.ixs-join-us .jobs li .job-desc {
    display: none;
}
.ixs-join-us .jobs li.active > a {
    background: #f5f5f5;
}
.ixs-join-us .jobs li.active + li {
    border-top: 1px solid #e5e5e5
}
.ixs-join-us .jobs li.active .job-desc {
    max-height: 1000px;
    padding: 30px 0 30px 20px;
    color: #666;
}

.ixs-join-us .jobs li.active .job-desc h5 {
    margin-bottom: 20px;
    font-size: 14px;
}

.ixs-join-us .jobs li.active .job-desc .description {
    margin-bottom: 30px;
}
.ixs-join-us .jobs li.active .job-desc ol li {
    margin-bottom: 10px;
    font-size: 14px;
}

.ixs-join-us .jobs li.active .job-desc .contact a {
    color: #019dfe
}