/*reset css*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Microsoft Yahei,Hiragino Sans GB,"微软雅黑";
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
    visibility: hidden
}

/*radio btn style*/
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
  font-size: 14px;
  cursor: pointer
}

input[type="radio"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px 9px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #333
}

input[type="radio"] + label span {
  background-color: #fff;
}

input[type="radio"]:checked + label span {
  background-color: #333;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.m-tb-70 {
    margin: 70px auto;
}
.m-tb-30 {
    margin: 30px auto;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t--20 {
    margin-top: -20px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.m-r-20 {
    margin-right: 20px;
}
/*navbar style*/
.xs-article-title a,.xs-nav li>a,.xs-navbar-nav>li>a, a.xs-navbar-brand {
	text-decoration:none
}
.ixs-header .ixs-fix-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    max-height: 72px;
    background-color: #404040;
    border-bottom: 1px solid #404040;
}

.ixs-header .ixs-fix-navbar .normal-screen-fixed-header {
    width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    min-height: 72px;
}

.ixs-title {
    font-size: 15px;
    color: #97a5a8;
    display: inline-block;
    line-height: 40px;
    margin: 0 24px 0 -24px;
}

.ixs-header .ixs-fix-navbar .normal-screen-fixed-header .xs-navbar {
    background-color: transparent;
    padding-top: 16px;
}

.ixs-header .ixs-fix-navbar .normal-screen-fixed-header .xs-navbar .xs-navbar-brand {
    padding-left: 0;
    margin-left: 2px;
    margin-top: -4px
}

.xs-navbar-brand, .xs-navbar-content, .xs-navbar-toggle {
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 0 15px;
    float: left;
}

.xs-margin {
    margin-bottom: 15px;
}

.ixs-header .ixs-fix-navbar .normal-screen-fixed-header .xs-navbar-nav {
    margin-left: 25px;
}

.xs-navbar-nav {
    margin: 0;
    padding: 0;
    float: left;
}

.xs-navbar-nav>li {
    float: left;
    position: relative;
    height: 55px;
}

.ixs-header .ixs-fix-navbar .normal-screen-fixed-header .xs-navbar-nav .link {
    font-size: 14px;
    display: inline-block;
    padding: 0 41px;
    color: #fff;
    border-bottom: 0 solid #fff;
    transition: .11s ease-in-out;
    border-right: 1px solid #fff;
}
.ixs-header .ixs-fix-navbar .normal-screen-fixed-header .xs-navbar-nav .link.last {
    border-right: 0px solid #fff;
}
.xs-navbar-nav>li>a {
    display: block;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 16px;
    margin: 13px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.xs-navbar-nav .item.active .line {
    position: absolute;
    bottom: -1px;
    width: 60px;
    height: 2px;
    background: #019dfe;
    left: 50%;
    margin-left: -30px;
}
.ixs-header {
    width: 33%;
}

.ixs-header h2 {
    text-align: center;
    margin-bottom: 38px;
    position: relative;
}
.ixs-header h2 .line {
    position: absolute;
    bottom: -15px;
    width: 70px;
    height: 2px;
    background: #000;
    left: 50%;
    margin-left: -35px;
}

.ixs-desc {
    font-size: 14px;
    text-align: center
} 
.h-center {
    margin: 0px auto;
}

/*页脚*/
.ixs-footer .ixs-content,
.ixs-footer {
    overflow: hidden
}
.ixs-footer .ixs-content {
    width: 1200px;
    margin: 0 auto;
}

.ixs-footer .ixs-links {
    margin: 0 179px 0 105px
}
.ixs-footer .ixs-content .logo {
    width: 65px;
    float: left;
}

.ixs-footer .ixs-content .qrcode {
    width: 120px;
    float: right;
    text-align: center
}

.ixs-footer .ixs-content .ixs-links ul {
    float: left;
    width: 16.66666%;
    box-sizing: border-box
}
.ixs-footer .ixs-content .ixs-links ul li .line {
   height: 16px;
   width: 1px;
   position: absolute;
   background: #666;
   right: 30px;
   top: 3px
}
.ixs-footer .ixs-content .ixs-links ul li h4 {
    margin-bottom: 10px;
    font-weight: 600;
    position: relative
}
.ixs-footer .ixs-content .ixs-links ul.last li h4 {
     border-right:none;
     margin-bottom: 5px;
}
.ixs-footer .ixs-content .ixs-links ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}
.ixs-copyright {
    background: #333;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}