.container {
    overflow-x: hidden
}
/*slider*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 72px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides li img.center {
    position: absolute;
    width: 700px;
    height: 290px;
    top: 50%;
    margin-top: -145px;
    left: 50%;
    margin-left: -350px;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  .transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.transparent-btns_tabs {
  margin-top: -30px;
  text-align: center;
  position: relative;
  z-index: 2;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: transparent;
  display: inline-block;
  _display: block;
  *display: block;
  width: 9px;
  height: 9px;
  border: 1px solid #019dfe;
  }

.transparent-btns_here a {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#3993f4,endColorStr=#36bdfd); /*IE 6 7 8*/ 
    background: -ms-linear-gradient(left, #3993f4,  #36bdfd);        /* IE 10 */
    background: -ms-linear-gradient(left, #3993f4,  #36bdfd);        /* IE 10 */
    background:-moz-linear-gradient(left,#3993f4,#36bdfd);/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3993f4), to(#36bdfd));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3993f4), to(#36bdfd));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(left, #3993f4, #36bdfd);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(left, #3993f4, #36bdfd);  /*Opera 11.10+*/
    width: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

/*about xs*/
.ixs-teamwork,
.ixs-about {
    overflow: hidden;
    width: 100%;
}

.ixs-about .ixs-content ul li {
    float: left;
    width: 32.666%;
    margin-right: 1%;
}


.ixs-about .ixs-content ul li.last {
    margin-right: 0
}

.ixs-about .ixs-content img {
    min-height: 220px
}

.ixs-about a {
	position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.ixs-about a::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.ixs-about a:hover::before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/*优势特点*/
.ixs-advantage {
    overflow: hidden;
    background: url(../images/index/bg_screen_3.jpg) no-repeat;
    background-size: 100% 280px;
}
.ixs-advantage .ixs-header {
    margin: 40px auto;
    color: #fff;
}
.ixs-advantage .ixs-header .line {
    background: #fff;
}
.ixs-advantage .ixs-content {
    width: 1200px;
    margin: 0 auto;
}
.ixs-advantage .ixs-content ul li{
    float: left;
    width: 270px;
    margin-right: 30px;
    margin-top: 15px;
}

.ixs-advantage .ixs-content ul li a img {
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.ixs-advantage .ixs-content ul li a:hover img{
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    margin-top: -15px;
}

.ixs-advantage .ixs-content ul li a {
    display: inline-block;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    text-align: center;
}
.ixs-advantage .ixs-content ul li a h4 {
    margin-top: 8px;
}

/*产品接口*/
.ixs-product {
    min-height: 550px;
    background: #f5f5f5;
}
.ixs-product .ixs-header {
    width: 100%;
    padding: 30px 0;
}

.ixs-product .ixs-content ul {
    position: relative
}
.ixs-product .ixs-content li {
    width: 50%;
    position: relative;
}
.ixs-product .ixs-content li.left {
    float: left;
}
.ixs-product .ixs-content li.right {
    float: right;
}

.ixs-product .ixs-content li .ixs-list-item-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: 170px;
    color: #fff;
    text-align: center
}
.ixs-product .ixs-content li.active {
    width: 55%;
    height: 55%;
    position: absolute;
    top: -15px;
    z-index: 2;
    transition: height .5s;
}
.ixs-product .ixs-content li.active a > img{
    box-shadow: 0 0 12px rgba(0, 0, 0, .6)
}
.ixs-product .ixs-content li.right.active {
    right: 0
}
.ixs-product .ixs-content li.left.active {
    left: 0;
}

.ixs-product .ixs-content li .ixs-list-item-body h4 {
    margin: 20px 0
}
.ixs-product .ixs-content li a {
    display: inline-block;
    width: 100%;
}
.ixs-product .ixs-content li .ixs-list-item-body p {
    font-size: 14px;
}

/*choose xs*/
.ixs-choose {
    overflow: hidden;
    background: #f5f5f5;
    width: 100%;
}
.ixs-choose .ixs-content {
    width: 1200px;
    margin: 0 auto;
    color: #555
}

.ixs-choose .ixs-content ul li {
    width: 50%;
    float: left;
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.ixs-choose .ixs-content ul li a {
    text-decoration: none;
    color: #666;
    display: inline-block;
    overflow: hidden;
    
}
.ixs-choose .ixs-content ul li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ixs-choose .ixs-content ul li a:hover  {
    margin-left: 15px;
}

.ixs-choose .ixs-content ul li h4 {
    margin: 20px 0;
}

.ixs-choose .ixs-content ul li p {
    font-size: 14px;
    max-width: 350px
}

/*合作伙伴*/
.ixs-teamwork .rslides {
    margin: 0 auto;
}
.ixs-teamwork .rslides  img {
    width: 140px;
    margin: 0 30px;
}
.centered-btns_here a {
    background: #3993f4;
}

.centered-btns_tabs {
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}

/*join us*/
.ixs-join {
    padding: 30px 0;
    background: url(../images/index/bg_7_screen.jpg) no-repeat;
    background-size: 100% 100%
}
.ixs-join .ixs-header {
    text-align: center
}

.ixs-join .ixs-content {
    width: 800px;
    margin: 0 auto;
}

#contact-form {
  max-width: 800px;
  margin: 0 auto;
}
#contact-form .row {
    margin-bottom: 15px;
}
#contact-form label {
  position: relative;
  margin-right: 8px;
  font-size: 14px;
}

#contact-form input, #contact-form textarea {
    padding: 10px 0;
    min-width: 267px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    vertical-align: top;
}

#contact-form .form-group {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

#contact-form .form-group textarea {
    width: 83%;
}

#contact-form .two-fields .form-group {
    width: 49%;
}

#contact-form .btn-group {
    text-align: center
}
#contact-form .ixs-btn {
    cursor: pointer;
    padding: 8px 69px;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
    font-size: 16px;
    font-family: Microsoft Yahei,Hiragino Sans GB,"微软雅黑";
}
#contact-form .ixs-btn:hover {
    color: #333;
    background: transparent
}
